@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Racing+Sans+One:400|VT323:400");

@font-face {
  font-family: now;
  src: url(/public/Now-Regular.otf)
}

body {
  font-family: "now";
  cursor: url(/public/cursor.png), auto;
}

.bgContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  width: 100%;
  height: auto;

  object-fit: cover;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(1, );
}

.logo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 60px
}

.wrapper {
  height: 85%;
  display: grid;
  place-items: center;
}

.countdown-timer {
  position: relative;
}

.timer-items {
  display: inline-block;
  background-color: rgb(41, 41, 41);
  margin: 5px 3px;
  font-family: 'Racing Sans One';
  font-size: 60px;
  font-weight: 100;
  opacity: 0.8;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  width: 150px;
  height: 185px;
  line-height: 0px;
  color: white
}

.timer-items span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #E42222;
}

@media screen and (max-width: 680px) {

  .timer-items {
    display: inline-block;
    background-color: rgb(41, 41, 41);
    margin: 3px;
    padding-bottom: 50px;
    font-family: 'Racing Sans One';
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    width: 90px;
    height: 58px;
    line-height: 3px;
  }

  .timer-items span {
    display: block;
    font-size: 15px;
    font-weight: 500;
  }

}

.live-soon {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Racing Sans One';
  padding: 5px;
  width: 350px;
  height: 25px;
}

.NL-mint {
  position: absolute;
  top: 3.5%;
  left: 5%;
  padding-left: 70px;
  color: white;
  font-size: 18px;
  font-family: 'Racing Sans One';
}

.readyninja {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 55px;
  font-family: 'Racing Sans One';
}

.connect-wallet {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: #E42222;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Racing Sans One';
  margin: auto;
  padding: 5px;
  width: 300px;
  height: 50px;
}

.connect-wallet:hover {
  background-color: #9C1B20;
}

.collection-status {
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 100px;
  background: white;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 10%;
}

.wallet-address {
  position: absolute;
  top: 3.5%;
  right: 5%;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: auto;
  padding: 5px;
  width: 130px;
  height: 20px;
}

.WL-fail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  opacity: 0.9;
  background-color: rgb(44, 44, 44);
  text-align: center;
  font-size: 18px;
  padding: 50px;
  width: 450px;
  height: 45px;
}

.text {
  color: white;
}

.supply-sale {
  padding: 5%;
}

.collection-not-ready {
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 100px;
  background: white;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 10%;
}

.spinner {
  padding-bottom: 2%;
  width: 20%;
}

.price-controller {
  position: absolute;
  top: 40%;
  left: 35%;
  background: wheat;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 7%;
}

.select {
  position: absolute;
  top: 32%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: 'Racing Sans One';
  color: white;
  font-size: 55px;
  text-align: center;
  line-height: 50px
}

.pricetag {
  position: absolute;
  bottom: 8%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: white;
}

.supply {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: white;
}

.mintOne {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-130%, -50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  color: black;
  font-size: 30px;
  font-family: 'Racing Sans One';
}

.mintTwo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(30%, -50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  color: black;
  font-size: 30px;
  font-family: 'Racing Sans One';
}

.mintOne-public {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-180%, -50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  color: black;
  font-size: 30px;
  font-family: 'Racing Sans One';
}

.mintTwo-public {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  color: black;
  font-size: 30px;
  font-family: 'Racing Sans One';
}

.mintThree-public {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(80%, -50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  color: black;
  font-size: 30px;
  font-family: 'Racing Sans One';
}

button.selected {
  background-color: #E42222;
}

.mintbutton {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: #E42222;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Racing Sans One';
  margin: auto;
  padding: 5px;
  width: 200px;
  height: 50px;
}

.mintbutton:hover {
  background-color: #9C1B20;
}

.error-message {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 20px;
}

.update-message {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 20px;
}

.ethscan {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Racing Sans One';
  margin: auto;
  padding: 10px;
  width: 200px;
  height: 25px;
}

.txn-success {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 20px;
}

.congratz-msg {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: 'Racing Sans One';
  color: white;
  font-size: 55px;
  text-align: center;
  line-height: 50px
}

.jonin {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: #7289da;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Racing Sans One';
  margin: auto;
  padding: 10px;
  width: 275px;
  height: 25px;
}

.img-text {
  display: flex;
  align-items: center;
}