@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Racing+Sans+One:400|VT323:400");

@font-face {
  font-family: now;
  src: url(/public/Now-Regular.otf)
}

body {
  font-family: "now";
  cursor: url(/public/cursor.png), auto;
}

.bgContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 150px;
}

.connectbuttton {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: red;
}

.not-mainnet {
  position: absolute;
  top: 5%;
  left: 35%;
  color: white;
  border-radius: 100px;
  background: orange;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 35px;
}

.collection-status {
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 100px;
  background: white;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 10%;
}

.wallet-address {
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 50px;
  background: red;
  color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 1.2vw;
  margin: auto;
  padding-top: 5px;
  width: 15%;
  height: 5%;
}

.supply-sale {
  padding: 5%;
}

.collection-not-ready {
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 100px;
  background: white;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 10%;
}

.spinner {
  padding-bottom: 2%;
  width: 20%;
}

.price-controller {
  position: absolute;
  top: 40%;
  left: 35%;
  background: wheat;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 7%;
}

.pricetag {
  margin-bottom: 5%;
}

.mintbutton {
  position: absolute;
  top: 60%;
  left: 46%;
  background: red;
  opacity: 0.9;
  font-size: 3vw;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 10%;
  height: 10%;
}

.error {
  position: absolute;
  top: 75%;
  left: 35%;
  background: white;
  opacity: 0.9;
  border-radius: 50px;
  font-size: 1.5vw;
  color: red;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 10%;
}